// _styles.scss

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}


.cross,
.icon-undo,
.icon-cros {
    background: $tichu-blue-gradient;
    &:hover {
    background: $tichu-blue;
    }
}
.minus,
.icon-bin,
.icon-minus {
    background: $tichu-red-gradient;
    &:hover {
    background: $tichu-red;
    }
}
.plus,
.icon-checkmark,
.icon-plus {
    background: $tichu-green-gradient;
    &:hover {
    background: $tichu-green;
    }
}

.unselected {
    background: $color-grey-gradient;
    &:hover {
    background: $color-grey;
    }
}


/////////////////////////// border 


#settings,
#message {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
    background-color: $color-cream;

    
    
    .submit {
        display: flex;
        margin: 2em 1em;
    
        .box {
          flex-grow: 1;
          text-align: center;
        }

        button {
            max-width: 7em;
            width: 100%;
        }
    }
}