// message.scss

#message {
    font-size: 1em;
    .container {
        .box1 {
            max-width: 100%;
            width: 100%;
            text-align: center;
            .box {
                font-size: 1.3em;
            }
        }
    }
}