// message.scss
@import 'variables';
@import 'styles';
@import 'input';
@import 'button';

#message {
    font-size: 1em;
    .container {
        .box1 {
            max-width: 100%;
            width: 100%;
            text-align: center;
            .box {
                font-size: 1.3em;
                margin-bottom: 0.5em;
            }
        }
    }
}