@import 'variables';
@import 'styles';

main {
    .icon-cross {
        color: $tichu-blue;
    }

    .icon-plus {
        color: $tichu-green;
    }

    .icon-minus {
        color: $tichu-red;
    }
}