// settings.scss

#settings {
    .container {
        .box2 {
            font-size: 1.2em;
    
            .label,
            input {
                line-height: 1.5em;
                margin-bottom: 0.5em;
            }
        }
    
        .box3 {
            width: 33%;
        }
    }
}
