// _headers.scss

@import 'variables';
@import 'styles';
@import 'button';
.title1 {
    color: white;
    background: $tichu-blue-gradient;
  
    h1 {
      padding: 0.2em 0;
      line-height: 1.3em;
      text-align: center;
      
    }
    button {
      font-size: 1.8em;
      position: absolute;
      top: 0.2em;
      right: 0.2em;
      height: 1.3em;
      width: 1.3em;
      box-shadow: none;
      background: transparent;
  
      &:hover {
          box-shadow: inset 0 0px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
      }
    }
  }
  