// _variables.scss

$tichu-black: #372E29;
$tichu-red: #CF3E39;
$tichu-blue: #0092BD;
$tichu-green: #018C48;
$color-cream: #FCFBE3;
$color-grey: #7F7C77;

$tichu-red-gradient:linear-gradient(to bottom right, #cf3e39 0%, #F74A44 100%);
$tichu-blue-gradient: linear-gradient(to bottom right, #0092bd 0%, #00A5D6 100%);
$tichu-green-gradient: linear-gradient(to bottom right, #018c48 0%, #01B85E 100%);
$grey-gradient: linear-gradient(to bottom right, #7F7C77 0%, #8A8681 100%);