@import 'variables';
@import 'styles';

#settings {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin: 6em auto;
    max-width: 600px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
    background-color: $color-cream;

    .title {
        margin-bottom: 2em;
        button {
            color: $tichu-red;
        }
    }

    .settings {
        .box {
            margin-bottom: 1em;
            .label {
                margin: 0.5em 0;
            }

            input {
                width: 17em;
            }
        }
    }

    .submit {
        display: flex;
        margin: 2em 1em;
    
        .box {
          flex-grow: 1;
          text-align: center;
        }

        button {
            max-width: 7em;
            width: 100%;
        }
    }
}
