@import 'variables';
@import 'styles';

#settings {
    .settings {
        .box {
            margin-bottom: 1em;
            .label {
                margin: 0.5em 0;
            }

            input {
                width: 17em;
            }
        }
    }
}
