@import 'variables';
@import 'styles';

footer {
  .round, .submit {
    display: flex;

    .box {
      flex-grow: 1;
      text-align: center;
    }
  }

  .round {
    button, input {
      width: 3.5em;
    }

    .box {
      width: 14.3%;
    }

    .vs {
      line-height: 1.8em;
    }
  }

  .submit {
    margin: 1.5em 0;

    button {
      width: 30%;
    }
  }
}
