@import 'components/styles/variables';
@import 'components/styles/styles';
@import 'components/styles/headers';
@import 'components/styles/footer';
@import 'components/styles/button';

.hidden {
  display: none !important;
}

body {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header,
footer  {
  position: fixed;
  left: 50%;
  max-width: 600px;
  width: 100%;
  transform: translatex(-50%);
  background-color: white;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  .box {
    margin: 0.5em;
    button {
      &.home {
        width: 100%;
      }
    }
  }
  
}

main {
  max-width: 600px;
  width: 100%;
  margin: 7em auto;
  text-align: center;
  button {
    &.home {
      width: 11em;
    }
  }
}

