input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

body {
  font-size: 18px;
  margin: 0;
  padding: 0;

}

header,
footer  {
  width: 100%;
  max-width: 600px;
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  background-color: white;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  width: 100%;
  max-width: 600px;
  margin: 160px auto 125px auto;
}

h1 {
  color: white;
  background-color: #0092BD;
  text-align: center;
  padding: 0.3em 0;
  margin: 0;
}

#score {
  display: flex;
  color: white;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
}

.team {
  display: flex;
  flex-grow: 1;
}

.team-name,
.team-points {
  flex-grow: 1;
  text-align: center;
}

#game-nav {
  color: #CF3E39;
  border-bottom: 2px solid #CF3E39;
  margin-bottom: 0.3em;
}

.game {
  display: flex;
  width: 100%;
  padding: 0.3em 0;
}

.game-box {
  flex-grow: 1;
  text-align: center;
}

#vs {
  line-height: 1.7em;
}

input, button {
  flex-grow: 1;
  width: 3.3em;
  height: 2.2em;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  color: white;
  background-color: #372E29;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 8px #372E29;
}

.submit {
  display: flex;
  margin: 1.25em 0;
}

.submit button {
  flex-grow: 1;
  margin: 0 1.5em;
  border-radius: 3px;
  height: 3em;
}

button.icon-cross,
button.icon-undo {
  background-color: #0092BD;
  color: white !important;
}

button.icon-plus,
button.icon-checkmark,
.win {
  background-color: #018C48;
  color: white !important;
}

button.icon-minus,
button.icon-bin,
.lose {
  background-color: #CF3E39;
  color: white !important;
}

.game .icon-cross {
  color: #0092BD;
}

.game .icon-plus {
  color: #018C48;
}

.game .icon-minus {
  color: #CF3E39;
}
