@import 'components/variables';
@import 'components/styles';

.hidden {
  display: none;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header,
footer  {
  position: fixed;
  left: 50%;
  max-width: 600px;
  width: 100%;
  transform: translatex(-50%);
  background-color: white;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  max-width: 600px;
  width: 100%;
  margin: 8em auto 125px auto;
}